{
    "parser": "@typescript-eslint/parser",
    "plugins": ["@typescript-eslint"],
    "extends": ["standard"],
    "parserOptions": {
      "ecmaVersion": "latest",
      "sourceType": "module"
    },
    "rules": {
      "indent": "off",
      "semi": "off",
      "space-before-function-paren": "off",
      "no-unused-vars": "off" // this is turned off, since eslint doesn't understand
                              // const enums in typescript, it's safe, since tsc will catch errors
    },
    "env": {
        "browser": true       // makes HTMLElement and customElements NOT no-undef
    },
    "globals": {
      "describe": "readonly", // describe and it is defined as globals by mocha
      "it": "readonly",
      "EventListener": "readonly"
    }
}